@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Inter&display=swap");

:root {
  --color-red: #bc4749;
  --color-green: #386641;
  --color-bg: #f2e8cf;
}

a {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-family: "Inter", sens-serif;
  background-color: var(--color-bg);
}
