.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0;
  height: 90vh;
}
.login-container {
  color: black;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
  overflow: hidden;
  min-height: 300px;
  max-width: 100%;

  justify-content: center;
  align-items: center;
}
.login-header {
  background-color: var(--color-white);
  padding: 0.5rem 1rem;
  color: black;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
}

.login-form {
  padding: 0.5rem 1rem;
}

.form-input,
.form-input-message {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.form-input-message {
  margin-bottom: 1rem;
  padding: 0;
}

.form-input input:focus {
  box-shadow: rgba(177, 69, 69, 0.5) 0px 0px 10px 1px;
  outline: none;
}

.form-input-message textarea:focus {
  box-shadow: none;
  outline: none;
}

.form-input label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-input input,
.form-input-message textarea {
  border: 1px solid black;
  border-radius: 4px;
  display: block;
  width: 95%;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
}

.form-input-message textarea {
  align-items: top;
  resize: none;
  padding: 1rem;
  font-size: 1rem;
}

.form-input i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}
.form-input small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.login-form button {
  background-color: var(--color-red);
  border: 2px solid var(--color-red);
  color: white;
  display: block;
  font-family: inherit;
  padding: 0.75rem;
  border-radius: 4px;
  width: 100%;
  font-size: 1.1rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.login-form button:hover {
  border: 2px solid rgb(177, 69, 78);
  background-color: rgb(177, 69, 78);
  transition: all 0.25s linear;
}
