.badge:after {
  content: attr(data-num);
  position: absolute;
  background: var(--color-green);
  height: 2.4rem;
  top: 1rem;

  width: 2.4rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.1rem;
  border-radius: 50%;
  color: white;
}

.brand {
  font-family: "Chilanka", cursive;
  font-weight: normal;
  font-size: 3.2rem;
  margin-left: 24rem;
  color: white;
}

.head {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  background-color: var(--color-red);
  color: #fff;
  box-shadow: 0.1rem 0.1rem 0.3rem #444;
  width: 100%;
}

.head-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30rem;
  font-size: 2rem;
}

.head a {
  color: #fff;
  text-decoration: none;
}

.head-links .material-symbols-outlined {
  font-size: 3.6rem;
}

.logo {
  background-color: #fff;
  height: 19rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  border-radius: 0 50rem 50rem 0;
  box-shadow: 0.1rem 0.6rem 0.4rem -0.4rem #444;
  border: 1rem solid var(--color-red);
  border-top: none;
  border-left: none;
}

.logo-img {
  width: 30rem;
  margin-left: -4.4rem;
}
